
body {
  margin: 0;
  text-align: center;
}



h2 {
  font-family: 'Baskervville', serif;
  color: #11999E;
  font-weight: normal;
  line-height: 2

}

h3 {
  font-family: 'Baskervville', serif;
  color: #11999E;
}

p{
  font-family: 'Fira Sans', sans-serif;

}


.h11 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3rem;
  line-height: 4;
  color: #66BFBF;
}
.h22{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 4
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px

}

.top-cloud {
  position: absolute;
  right: 300px;
  top:55px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  top : 50px;
}

.contact-me {
  font-family: 'Fira Sans' ,sans-serif;
  margin: 30px;
  padding: 100px;




}
.cont {
  width: 25%;
  margin: 40px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;

  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.bottom-container {
  background-color: #66BFBF;
  font-family: 'Fira Sans' ,sans-serif;
  padding: 30px;
  margin: 0px;
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
}

.middle-container {
  margin: 50px;

}

.skill-row {

  text-align: left;
  width: 90%;
  margin: 100px auto 100px auto;
}

.cloud01 {
  width: 60%;
  float: left;
  margin: 30px;
}
.cloud02 {
  width: 60%;
  float: right;
  margin: 30px;
}

.prrr {
  color: #EAF6F6;

}

hr {
      border: 7px dotted #EAF6F6;
      border-style: none none dotted;
      color: #fff;
      background-color: #fff;
      width: 10%;
  }
